<!-- mydog.html template extend base.html-->
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}I Love Frenchie{% endblock %}</h1>
{% endblock %}

{% block content %} 
<section>
<h2 id="intro">Hi, nice to meet you. My name is Moose.</h2>
<!-- create the image table -->
<table class = "mytable">
<tr>
  <td><img src="{{ url_for('static', filename='d1.jpg')}}" alt="Image Error" width="200" height="200"></td>
  <td><img src="{{ url_for('static', filename='d2.jpg')}}" alt="Image Error" width="200" height="200"></td>
  <td><img src="{{ url_for('static', filename='d3.jpg')}}" alt="Image Error" width="200" height="200"></td>
</tr>
<tr>
  <td><img src="{{ url_for('static', filename='d4.jpg')}}" alt="Image Error" width="200" height="200"></td>
  <td><img src="{{ url_for('static', filename='d5.jpg')}}" alt="Image Error" width="200" height="200"></td>
  <td><img src="{{ url_for('static', filename='d6.jpg')}}" alt="Image Error" width="200" height="200"></td>
</tr>       
</table>
</section>
{% endblock %}